<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>

        <ion-col size="3" class="flex">
          <ng-content></ng-content>
        </ion-col>

        <ion-col size="6" class="flex align-middle">
          <ion-title class="text-center">Онлайн ТВ</ion-title>
        </ion-col>

        <ion-col class="flex flex-row-reverse" size="3">
          <ion-button class="my-auto" routerLink="/home/info">
            <ion-icon name="information-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
