<app-header>
  <app-back-button [url]="url"></app-back-button>
</app-header>

<ion-content>
  <section class="flex flex-col text-center p-10">
    <img class="mx-auto" src="../../../assets/icon/favicon.png" alt="">
    <h1>Онлайн Телевизия</h1>
    <h3>Версия: 1.0</h3>
  </section>

  <section class="text-center">

    <div class="pb-5">
      <p>Приложението не излъчва нито една телевизия,</p>
      <p>а зарежда съдържанието на уеб страниците</p>
      <p>съдържащи дадените канали.</p>
    </div>

    <div class="pb-5">
      <p>Поради тази причина може да се наложи</p>
      <p>да включите автоматичното завъртане на екрана,</p>
      <p>за да виждате цялото съдържание на канала.</p>
    </div>

    <div class="pb-5">
      <p>Линковете за повечето каналите са</p>
      <p>взети от официалните им страници,</p>
      <p>а останалите са намерени от интернет.</p>
    </div>

    <div class="pb-5">
      <p>Приложението е с обучителна цел и е с отворен код.</p>
      <p>Можете да видите кода от
        <a href="https://www.google.bg">ТУК</a>
      </p>
    </div>

  </section>

</ion-content>
